<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>

<body>
    <div class="container">
        <h1>Index Page</h1>
        <h3>Create a User</h3>
		<form action="{{url_for('create_user')}}" method="post">
			<input type="text" name="name" placeholder="Type your name">
			<input type="text" name="email" placeholder="What's your best email?">
			<select name="location">
				<option value="Oakland">Oakland</option>
				<option value="Austin">Austin</option>
				<option value="Denver">Denver</option>
				<option value="Chicago">Chicago</option>
			</select>
			<input type="radio" name="platform" value="mac" checked> Mac<br>
			<input type="radio" name="platform" value="Windows"> Windows<br>
			<input type="checkbox" name="commute" value="Walk" > I walk<br>
			<input type="checkbox" name="commute" value="Bike"> I bike<br>
			<input type="checkbox" name="commute" value="Car"> I drive a car<br>
			<input type="checkbox" name="commute" value="Motorcycle"> I drive a motocycle<br>
			<input type="checkbox" name="commute" value="Bart" > I take Bart<br>
            <input type="submit" class="btn btn-primary" value="Submit">
        </form>
        
    </div><!-- /.container -->

      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>